@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: var(--nav-item-color);
    font-size: 40px;
    font-weight: 400;
    font-weight: bold;
}
h2{
    color: var(--hover-color);
    font-size: 28px;
    font-weight: 400;
    font-weight: bold;
} 

h3{
    font-size: 28px;
    font-weight: 400;
    font-weight: bold; 
}


h5{
    color: var( --titel-color);
    font-size: 25px;
    font-weight: 400;
    font-weight: bold; 
    padding: 10px 10px 10px 190px;
    text-align: left;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, 
body, input, button, input {-webkit-appearance: none;-moz-appearance: none;appearance: none;}

:root {
    --background__body-color: #000000;
    --nav-item-color:#cee401;
    --hover-color: aliceblue;
    --color-btn:#000000;
    --color-cards:#cee401;
    --titel-color:#dedede;
    font-family: 'Kaushan Script', cursive;
   

}