

.container{
    margin: 0px 130px;
}

.header {
    background-color: var(--background__body-color);
    height: 100vh;
    background-size: cover;
}

.header-line {
    padding-top: 5px;
    display: flex;
     align-items: center;  
}

.nav-item {
    color: var(--nav-item-color);
    text-decoration: none;
}
