

.container{
    margin: 0px 20px;
}




.header {
    background-color: var(--background__body-color);
    height: 100vh;
    background-size: cover;
}

.header-line {
    padding-top: 5px;
    display: flex;
     align-items: center;
     justify-content: space-around;  
}

.nav-item {
    color: var(--nav-item-color);
    text-decoration: none;
    font-weight: 700px;
    font-size: 25px;
    margin-right: 15px;
    transition: color 0.3s linear;
    }

.nav-item:hover {
    color: var(--hover-color);
}

.contacts-item-phone__number{
    color:var(--nav-item-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 23px;
    transition: color 0.3s linear;
}

.contacts-item-phone__number:hover{
    color: var(--hover-color);
}
.navigation-contacts{
    display: flex;
    position: absolute;
    right: 60px;
}

.header-title{
    color: var(--hover-color);
    font-size: 40px;
    font-weight: 400;
}
