

.container{
    margin: 0px 20px;
}




.header {
    background-color: var(--background__body-color);
    height: 100vh;
    background-size: cover;
}

.header-line {
    padding-top: 5px;
    display: flex;
     align-items: center;
     justify-content: space-around;  
}

.nav-item {
    color: var(--nav-item-color);
    text-decoration: none;
    font-weight: 700px;
    font-size: 25px;
    margin-right: 15px;
    transition: color 0.3s linear;
    }

.nav-item:hover {
    color: var(--hover-color);
}

.contacts-item-phone__number{
    color:var(--nav-item-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 23px;
    transition: color 0.3s linear;
}

.contacts-item-phone__number:hover{
    color: var(--hover-color);
}
.navigation-contacts{
    display: flex;
    position: absolute;
    right: 60px;
}

.header-down{
    position: relative;
}

.header-title{
    color: var(--hover-color);
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    position: absolute;
    left:93px;
    line-height: 50px;
    margin-top: 172px;
}

.header-btn{
    margin-top: 64px;
}
.header-button{
margin-top: 164px;
background-color: var(--nav-item-color);
color:var(--color-btn);
font-size: 18px;
font-weight: 700;
outline: 5px solid var(--nav-item-color);
padding: 14px 36px;
text-decoration: none;
text-transform: uppercase;

}

.header-suptitle{
    color: var(--hover-color);
    font-size: 18px;
    margin-top: 42px;
    
}

.header__picture{
    position: relative;
}
.header__picture-img{
    position: absolute;
    right: 0;
    margin-top: 78px;
    
}
.footer_title{
    width: 1439px;
    position: absolute;
    text-align: center;
}
.head-footertitel{
    position: absolute;
    text-align: center;
    color: var(--hover-color);
   
}