.section {
    padding: 100px 0;
    background-color: var(--background__body-color);
}

.section__header {
    margin: 0 auto 117px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.section__title{
    font-size: 40px;
    font-weight: bold;
    color: var(--hover-color);
}

.card-desc{
    display: flex;
    justify-content: center
}

.card{
    display: flex;
    justify-content: center;
    background-color:var(--color-cards) ;
    width: 33%;
    
}


.cards-holder{
    display:flex ;
    justify-content: space-between;
    }

