.section {
    padding: 100px 0;
}

.section__header {
    margin: 0 auto 117px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.section__title{
    font-size: 28px;
    font-weight: 400;
    font-weight: bold;
}