.section {
    padding: 100px 0;
    background-color: var(--background__body-color);
}

.section__header {
    margin: 0 auto 117px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}
.section__supheader{
    display: flex;
    margin: 0 auto 117px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    flex-wrap: nowrap;
}

.section__suptitle{
    
    font-size: 40px;
    font-weight: bold;
    color: var(--hover-color);
    
}
.section__title{
    font-size: 40px;
    font-weight: bold;
    color: var(--hover-color);
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 20px 200px;
}

.card-desc{
   
    width: 30%;
    background-color: var(--color-cards);
    font-size: 20px;
    padding: 36px 44px;
    text-align: left;
   
    }


